@mixin flex-row {
  display: flex;
  flexDirection: row;
  alignItems: center;
  justifyContent: center;
}

@mixin flex-column {
  display: flex;
  flexDirection: column;
  alignItems: center;
  justifyContent: center;
}

@mixin header1 {
  font-size: 20;
}

@mixin text1 {
  font-size: 16;
}