@import 'mixins';
@import 'variables';

body {
  @include flex-column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  background-color: $dark-gray;
}

ol {
  list-style-type: none;
  padding: 0;
}

h1 {
  font-size: 22px;
  color: $off-white;
}

h2 {
  font-size: 18px;
  color: $off-white;
}

p {
  font-size: 16px;
  color: $off-white;
  font-weight: 500;
}

a {
  color: $off-white;
  text-decoration: none;
}






