@import '../../styles/_mixins.scss';

.navbar {
  @include flex-row;
  align-self: flex-start;

  .link {
    color: $off-white;
    margin: 0.5rem;
    text-decoration: none;
  }

  .link:hover {
    font-weight: 700;
   }

}



